#  SPDX-FileCopyrightText: 2019–2026 Pynguin Contributors
#
#  SPDX-License-Identifier: MIT

**/__pycache__
*_cache
.hypothesis
*.lock
*report
*result
results.*
*_results.csv
results
.logs
*.tar
pynguin.yaml
analysis/out
